{
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "printWidth": 80,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.jsx",
      "options": {
        "parser": "babel"
      }
    }
  ]
}
